<section class="page card-page">
  <div>
    <h2>Usual Mat Card</h2>
    <div>
      <div>
        <p>MatCard have some included components</p>
        <ul>
          <li>mat-card</li>
          <li>mat-card-content - primary card content (adds padding)</li>
          <li>mat-card-actions - container for buttons at the bottom of the card (adds padding). Includes input property "align" = 'start' | 'end'</li>
          <li>mat-card-footer - section anchored to the bottom of the card</li>
          <li>
            <p>mat-card-header - section anchored to the top of the card (adds padding)</p>
            <ul>
              <li>mat-card-header</li>
              <li>mat-card-title</li>
              <li>mat-card-title-group</li>
              <li>mat-card-subtitle</li>
            </ul>
          </li>
          <li>
            <p>mat-card-image - card image. Stretches the image to the container width</p>
            <ul>
              <li>mat-card-image</li>
              <li>mat-card-sm-image</li>
              <li>mat-card-md-image</li>
              <li>mat-card-lg-image</li>
              <li>mat-card-xl-image</li>
              <li>mat-card-avatar</li>
            </ul>
          </li>
        </ul>
        <p>MatCard have some included components</p>
        <ul>
          <li>aria-label: string</li>
        </ul>
      </div>

      <hr>

      <div>
        <div class="edit-form">
          <p>appearance="raised"</p>
          <mat-card appearance="raised">
            <mat-card-header>
              <h2>MatCardHeader</h2>
            </mat-card-header>

            <mat-card-title>
              <h3>MatCardTitle</h3>
            </mat-card-title>

            <mat-card-subtitle>
              <h3>MatCardSubtitle</h3>
            </mat-card-subtitle>

            <mat-card-content>
              <div>MatCardContent</div>
              <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-sm-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-md-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-lg-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-xl-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-avatar src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-avatar">
            </mat-card-content>

            <mat-card-actions align="end">
              <p>MatCardActions</p>
              <div>
                <button mat-button color="primary">Button 1</button>
                <button mat-button color="warn">Button 2</button>
                <button mat-button color="accent">Button 3</button>
              </div>
            </mat-card-actions>

            <mat-card-footer>MatCardFooter</mat-card-footer>
          </mat-card>

          <p>appearance="outlined"</p>
          <mat-card appearance="outlined">
            <mat-card-header>
              <h2>MatCardHeader</h2>
            </mat-card-header>

            <mat-card-title>
              <h3>MatCardTitle</h3>
            </mat-card-title>

            <mat-card-subtitle>
              <h3>MatCardSubtitle</h3>
            </mat-card-subtitle>

            <mat-card-content>
              <div>MatCardContent</div>
              <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-sm-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-md-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-lg-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-xl-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-image">
              <img mat-card-avatar src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png" alt="mat-card-avatar">
            </mat-card-content>

            <mat-card-actions align="end">
              <p>MatCardActions</p>
              <div>
                <button mat-button color="primary">Button 1</button>
                <button mat-button color="warn">Button 2</button>
                <button mat-button color="accent">Button 3</button>
              </div>
            </mat-card-actions>

            <mat-card-footer>MatCardFooter</mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</section>

