<section class="page mat-button-page">
  <div>
    <h2>Usual Mat Buttons</h2>
    <div>
      <p>Button selectors:</p>
      <ul>
        <li>button[mat-button] & a[mat-button]</li>
        <li>button[mat-raised-button] & a[mat-raised-button]</li>
        <li>button[mat-flat-button] & a[mat-flat-button]</li>
        <li>button[mat-stroked-button] & a[mat-stroked-button]</li>
      </ul>
      <p>MatButton and MatAnchor properties:</p>
      <ul>
        <li>color: ThemePalette</li>
        <li>defaultColor: ThemePalette | undefined</li>
        <li>disableRipple: boolean</li>
        <li>disabled: boolean</li>
      </ul>
      <p>MatButton and MatAnchor methods</p>
      <ul>
        <li>click</li>
        <li>focus</li>
        <li>blur</li>
        <li></li>
      </ul>
    </div>
    <div class="example-form">
      <div class="buttons-row">
        <span>Basic: </span>
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a href="#" mat-button>Link</a>
      </div>

      <hr>

      <div class="buttons-row">
        <span>Raised: </span>
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a href="#" mat-raised-button>Link</a>
      </div>

      <hr>

      <div class="buttons-row">
        <span>Stroked: </span>
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a href="#" mat-stroked-button>Link</a>
      </div>

      <hr>

      <div class="buttons-row">
        <span>Flat: </span>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a href="#" mat-flat-button>Link</a>
      </div>

      <hr>

      <div class="buttons-row">
        <span>Icon: </span>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button disabled>
          <mat-icon>home</mat-icon>
        </button>
        <a href="#" mat-icon-button>
          <mat-icon>home</mat-icon>
        </a>
      </div>

      <hr>

      <div class="buttons-row">
        <span>Icon: </span>
        <button mat-fab>
          <mat-icon>home</mat-icon>
        </button>
        <button mat-fab color="primary">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-fab color="accent">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-fab color="warn">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-fab disabled>
          <mat-icon>home</mat-icon>
        </button>
        <a href="#" mat-fab>
          <mat-icon>home</mat-icon>
        </a>
      </div>

      <hr>

      <div class="buttons-row">
        <span>Icon: </span>
        <button mat-mini-fab>
          <mat-icon>home</mat-icon>
        </button>
        <button mat-mini-fab color="primary">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-mini-fab color="accent">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-mini-fab disabled>
          <mat-icon>home</mat-icon>
        </button>
        <a href="#" mat-mini-fab>
          <mat-icon>home</mat-icon>
        </a>
      </div>

      <hr>


    </div>
  </div>
</section>
