@import "variables";
@import "page";

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

.home-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }

  .list-header {
    text-align: center;
  }

  .list-item {
    display: flex;
    align-items: center;
  }

  .icon {
    &.done-icon {
      color: green;
    }

    &.undone-icon {
      color: red;
    }
  }
}
